* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#text-blue {
    color: #20a8b4;
}

#text-orange {
    color:#ff5c0f;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 5px 0px;
}

a:hover {
    color: #ff5c0f;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    border: 0px;
    border-radius: 10px;
    background-color: #20a8b4;
    color: #fff;
}

button:hover {
    background-color: #ff5c0f;
    cursor: pointer;
}

.container {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
}

.child {
    padding: 10px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

h2, p, button {
    margin: 10px 0px;
}

#image {
    display: none;
}

/* Styles for screens wider than 768px */

@media only screen and (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        margin: auto 0px;
    }   

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    li {
        margin: auto 10px;
    }

    #image {
        display: inline-flex;
        z-index: -1;
    }

    #text-box {
        margin: auto 0px;
    }

    .child {
        width: 50%;
        height: auto;
        margin: -150px 0;
    }
    
    button {
        width: auto;
        /*width: 100px; mathces style guide in look but not in specifications*/
    }
    
}